<html lang="nb">
<head>
    {% block meta %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block extra_meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}
    </header>
    <main>
        {% block content %}
            {% include "partials/main.html" %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock %}
    </footer>
</body>
</html>


