
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/spinning.css">

<h1 onmouseenter='console.log("mouse entered")'
    onclick='console.log("mouse clicked")'
    onmouseleave='console.log("mouse left")'
>
    This is a cookie
</h1>


<h1 id="cookie-counter">0</h1>
<img src="https://assets.stickpng.com/images/580b57fbd9996e24bc43c0fc.png"
     id="cookie" onclick="cookieClicked()" width="250">

<img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Cookie.png"
        id="better-cookie" onclick="cookieClicked(5)" width="250">

<script>
    function cookieClicked(amount = 1) {
        //const;
        let cookieJar = document.getElementById('cookie-counter');
        let cookieCount = Number(cookieJar.innerText); //makes cookieCount the current number in cookieJar
        cookieCount+=amount; //adds an "amount" to the cookieCount
        cookieJar.innerText = cookieCount; // turns the cookieJar into the new value of cookieCount
    }
    // means the same thing as the above function and const is the same
    //const cookieClicked = () => {}


    function cheevos(oldCount, newCount) {
        if (oldCount <100 && newCount >= 100) {
            iziToast.show({
                title: "A good start",
                message: "one hundred cookies"
            })
        }
    }
</script>

