
body{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}


#login {
    position: relative;
    }


#login::before {
    content: "User Login";
    font-size: 30px;
    text-decoration-color: #01d0d0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: green;
    transition: 0.5s ease-in-out;
}


#login:hover::before {
    left: -100%;
}

<!---->

#nav{
    background: crimson;
}


.navbar{
    width: 100%;
    background-color: crimson;
    position: absolute;
    top: 0;
    left: 0;
}


.navbar a:not(#joke, #Salarium){
    float: left;
    padding: 10px;
    color:white;
    text-decoration:none;
    font-size: 17px;
}


.navbar, #Salarium{
    float: right;
    padding: 10px;
    color:white;
    text-decoration:none;
    font-size: 17px;
}


.navbar #Salarium:hover{
    background-color: #01d0d0;
    color: crimson;
}


.navbar a:hover{
    background-color: #01d0d0;
    color: crimson;
}


.navbar #login{
    float: right;
    padding: 10px;
    color: #2e598b;
    text-decoration: none;
    font-size: 18px;
}


.navbar #login:hover{
    background-color: #01d0d0;
    color: crimson;
}


.active{
    background-color: cornflowerblue;
}

<!---->

#Hero #Top,title {
    font-size: 10px;
    position: absolute;
    top: 50px;
}


#Hero{

}


#Hero_hub {

}


#Hero_hub #maintekst{
    position: absolute;
    top: 40px;
    left: 330px;
    padding: 45px;
    text-align: center;
    background-color: white;
    font-size: 22px;
}


#Hero_hub #washingmachine{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 470px;
    background-color: white;
}


#Hero_hub #customer_help {
    width: 200px;
    padding: 18px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 5px solid #9514ff;
    background: crimson;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 690px;
}


#Hero_hub #browse {
    width: 200px;
    padding: 18px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 5px solid #9514ff;
    background: crimson;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 500px;
    left: 335px;
}

<!---->

#catalog #background_down #start{
    background: white;
    position: absolute;
    top: 47px;
    left: 310px;
    padding: 30px;
}


#catalog #pictures #washingmachine{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 470px;
    background-color: white;
}


#catalog #pictures #dryer{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 600px;
    left: 470px;
    background-color: white;
}


#catalog #pictures #fridge{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 1000px;
    left: 470px;
    background-color: white;
}


#catalog #pictures #oven{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 1400px;
    left: 470px;
    background-color: white;
}


#sorry{
    position: absolute;
    top: 200px;
    left: 250px;
    font-size: 20px;
}