<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battlefields</title><!--Battlefields: Chronicles of the Fighter Party-->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <!--http://127.0.0.1:5000/-->
</head> 
<div class = crt>
    <div class="wrapper">
        <div class="one"></div>
        <div class="two">
        </div>
        <div class="three"></div>
        <div class="four"><h1>Status</h1></div>
        <div class="chat"><h1>Chat</h1></div>
        <div class = "commands">
            <pre>

                {% block content %}
                {% endblock %}
                             
            </pre>
        </div>
        <div class="logo">
            <pre>
                
                ,---.   ,--.--------.  ,--.--------.                ,----.      _,---.   .=-.-.    ,----.                            ,-,--.  
    _..---.   .--.'  \ /==/,  -   , -\/==/,  -   , -\  _.-.      ,-.--` , \  .-`.' ,  \ /==/_ / ,-.--` , \   _.-.      _,..---._   ,-.'-  _\ 
  .' .'.-. \  \==\-/\ \\==\.-.  - ,-./\==\.-.  - ,-./.-,.'|     |==|-  _.-` /==/_  _.-'|==|, | |==|-  _.-` .-,.'|    /==/,   -  \ /==/_ ,_.' 
 /==/- '=' /  /==/-|_\ |`--`\==\- \    `--`\==\- \  |==|, |     |==|   `.-./==/-  '..-.|==|  | |==|   `.-.|==|, |    |==|   _   _\\==\  \    
 |==|-,   '   \==\,   - \    \==\_ \        \==\_ \ |==|- |    /==/_ ,    /|==|_ ,    /|==|- |/==/_ ,    /|==|- |    |==|  .=.   | \==\ -\   
 |==|  .=. \  /==/ -   ,|    |==|- |        |==|- | |==|, |    |==|    .-' |==|   .--' |==| ,||==|    .-' |==|, |    |==|,|   | -| _\==\ ,\  
 /==/- '=' ,|/==/-  /\ - \   |==|, |        |==|, | |==|- `-._ |==|_  ,`-._|==|-  |    |==|- ||==|_  ,`-._|==|- `-._ |==|  '='   //==/\/ _ | 
|==|   -   / \==\ _.\=\.-'   /==/ -/        /==/ -/ /==/ - , ,//==/ ,     //==/   \    /==/. //==/ ,     //==/ - , ,/|==|-,   _`/ \==\ - , / 
`-._`.___,'   `--`           `--`--`        `--`--` `--`-----' `--`-----`` `--`---'    `--`-` `--`-----`` `--`-----' `-.`.____.'   `--`---' 


            </pre>   
        </div>
</div>
</html> 
