<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battlefields</title><!--Battlefields: Chronicles of the Fighter Party-->
    <link rel="stylesheet" href="stylesheet.css">
</head> 
<div class = crt>
    <div class="wrapper">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"><h1>Status</h1></div>
        <div class="code-input">:</div>
        <div class="five"><h1>Chat</h1></div>
        <div class="logo">Battlefields</div>
    </div>
</div>
</html> 