
{% extends "main.html" %}

{% block content %}
    {% for i in text_box %}
        <div class = "written">
            {% if not i == '' %}
                {{ i }}
            {% else %}    
                <br>
            {% endif %}
        </div>
    {% endfor %}
    <form method="POST"></form>
    <!--Probably not needed but not worth the risk of removing rn-->
    <div class = forms>
        <input name="text" >
    </div>
    
    <form autocomplete="off" method="POST">
        <div class = "forms">
            <input autocomplete="off" autofocus = "yes" name="text" minlength="1" maxlength="6" >
        </div>
    </form>

{% endblock %}
